@import "skeleton/themes/loader";

#header-top {
  height: 40px;
  padding: 1rem 0px;
  span {
    color: #000;
    font-size: 1.4em;
    line-height: 40px;
    text-indent: 50px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

h4 {
  margin-top:2.5rem;
}

#intro {
  ul {
    list-style-type: none;
    li {
      float:left;
      height:4rem;
      padding-right:1rem;
      img {
        width:4rem;
      }
    }
  }
}

#self {
    display: block;
    margin:0 auto 2em;
    width:80%;
    border-radius: 50%;
}

#whatido {
  iframe {
    display: block;
    margin: 0 auto;
  }
}

#competence {
  h6 {
    font-weight: bold;
    border-bottom: .1em solid #162158;
    padding-left: .5em
  }
  img {
    display: block;
    width:60%;
    margin:0 auto;
  }
  p {
    margin-top: 1em
  }
}