@import "skeleton/themes/loader";

#header-top {
  padding: 1rem 0px;
  background-color:#C91E49;
  span {
    color: #fff;
    font-size: 1.4em;
  }
}

#video-intro {
  position:relative;
  margin-bottom:6.5rem;
  overflow: hidden;
  background-color:#000;
  video {
    position:absolute;
    right: 0;
    bottom:0;
    min-width: 100%;
  }
  .container {
    blockquote {
      color: #fff;
      text-shadow: 2px 2px 3px #000;
      p {
        font-size: 1.8em;
        margin-bottom:0px;
      }
      footer {
        font-style: italic;
        font-size: 1.2em;
      }
    }
  }
}

#self {
    display: block;
    margin:0 auto 2em;
    width:80%;
    border-radius: 50%;
}

#competence {
  h6 {
    font-weight: bold;
    border-left: .5em solid #C91E49;
    padding-left: .5em
  }
  img {
    display: block;
    width:60%;
    margin:0 auto;
  }
  p {
    margin-top: 1em
  }
}

#contact {
  img {
    display: block;
    width:60%;
    margin:0 auto 2em;
  }
}