doctype html
html(lang='en')
  head
    title Michael Vial
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")
    link(href='/static/css/main.css', rel="stylesheet", type="text/css")

    script(src='//localhost:35729/livereload.js')

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-57048664-2', 'auto');
      | ga('send', 'pageview');

  body
    header#header-top
      .container
        span.columns pouce.me

    #video-intro
      video(src='static/media/intro-1.webm', autoplay='1', loop='1')
      .container
        blockquote.one-half.columns
          p(style='white-space:pre;') I don't mind the buffer
            | I don't mind the ad
            | But when the ad buffers
            | I suffer
          footer - unknown
    .container

      h4 A bit about me
      .row
        .two.columns
          img#self(src='static/img/me.jpg')
        .ten.columns
          p I'm a 31 year old javascript dev living south of France, and working for Dailymotion player squad. When I'm not fixing VPAID ads related issues, you can find me diving on a beach volley pitch.
      
      hr

      h4 Competence
      #competence.row
        .three.columns
          h6 JavaScript
          img(src='static/img/javascript-logo.png')
          p ES6, Coffesecript, ReactJs, FlightJS, Angular, BackboneJs, Jquery

        .three.columns
          h6 Node stack
          img(src='static/img/nodejs-logo.png')
          p NPM, Express, Grunt, Gulp, Webpack, Bower...
        .three.columns
          h6 HTML5/CSS3
          img(src='static/img/html5-logo.png')
          p Sass, Jade

      hr

      h4 Contact
      #contact.row
        .two.columns
          a(href='https://fr.linkedin.com/in/michael-vial-6bba5475')
            img(src='static/img/linkedin-logo.png')
        .two.columns
          a(href='https://www.facebook.com/michael.vial')
            img(src='static/img/facebook-logo.png')
        .eight.columns